.directory                                                                                                                                                                                                                           
.idea/                                                                                                                                                                                                                               
blueprints/__pycache__/                                                                                                                                                                                                              
db_model/__pycache__/                                                                                                                                                                                                                
sql/.directory                                                                                                                                                                                                                       
venv/ 
